@media only screen and (max-width: 800px) {
    header {
        height: 106px;
    }

    p {
        line-height: 1.25em;
    }

    #header-container {
        display: flex;
        flex-direction: column;
        max-width: calc(100% - 32px);
        margin: 0 16px;
    }

    #nav-logo {
        margin: auto;
        padding: 4px 0;
    }

    .spacer {
        flex-grow: 0;
    }

    #nav-menu-container {
        margin: auto;
        padding: 4px 0;
    }

    .page {
        height: calc(100% - 122px);
        width: 100%;
        padding-top: 122px;
    }

    #splash-content {
        font-size: 2.5rem;
        width: 306px;
        height: 6rem;
        margin: auto;
    }

    #splash-typing::after {
        width: 16px;
        height: 2px;
    }

    #splash-menu {
        margin-top: 0;
    }

    .splash-btn {
        font-size: 1.25rem;
    }

    .button:hover {
        background-color: none;
        transition: none;
    }

    .round-img {
        height: 150px;
        width: 150px;
    }
    
    #contact-container {
        flex-direction: column;
        padding: 0 16px;
    }

    #contact-form-container {
        order: 1;
    }

    #contact-info-container {
        margin: auto;
        margin-bottom: 32px;
    }
}