@media only screen and (max-width: 400px) {

    #splash-container {
        width: 100%;
    }

    #splash-content {
        width: 100%;
    }

    #splash-typing {
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    #splash-menu {
        margin-top: 24px;
        flex-direction: column;
        height: fit-content;
    }

    .divider {
        height: 1px;
        background-color: #909090;
        width: 24px;
        margin: 8px auto;
    }
}